.limit {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  padding: 100px 60px 200px 60px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  background: rgba(0, 146, 255, 0.2);
  background: radial-gradient(circle, rgba(0, 146, 255, 0.2) 0%, rgba(225, 240, 255, 0.2) 43%, rgba(172, 198, 253, 0.2) 100%);
  font-size: 16px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #1A1D22;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.main-wrapper {
  background: url("../image/tree-footer.gif") calc(100% - 10px) calc(100% - 10px) no-repeat, url("../image/gr.png") center bottom no-repeat, url("../image/christmas-lights.png") left top repeat-x, url("../image/btm-2.png") left bottom no-repeat, url("../image/snow-2.png") left top repeat;
  -webkit-background-size: 120px auto, 200px auto, 160px auto, 100% auto, 120px auto;
  background-size: 120px auto, 200px auto, 160px auto, 100% auto, 120px auto;
}

.code-blocks-wrapper {
  display: flex;
  justify-content: space-between;
}
.code-blocks-wrapper .code-block {
  width: calc(50% - 30px);
}

.code-buttons-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.html-code-block, .primary-text-editor-block {
  width: 100%;
  height: 300px;
  font-size: 16px;
  border: 3px solid #bdcef6;
  /*border-radius: 15px;*/
  padding: 20px;
  background-color: #fff9f7;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.html-code-block:focus, .html-code-block:active, .primary-text-editor-block:focus, .primary-text-editor-block:active {
  outline: 0;
  border: 3px solid #0092FF;
  box-shadow: 0 0 10px #0092FF;
}

/*.primary-text-editor-block {
  background: rgb(255, 249, 247) url('../image/web-7.png') left top no-repeat;
}*/
.primary-text-editor-block {
  overflow-y: scroll;
}

.primary-text-editor-bg {
  position: relative;
  margin-bottom: 30px;
}
.primary-text-editor-bg:after {
  content: "";
  display: block;
  width: 100px;
  height: 107px;
  position: absolute;
  right: 20px;
  top: -96px;
  background: url("../image/cat-2.png") center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  z-index: 100;
}

.input-number {
  border: 3px solid #bdcef6;
  border-radius: 15px;
  padding: 10px;
  width: 80px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.input-number:focus, .input-number:active {
  outline: 0;
  border: 3px solid #0092FF;
  box-shadow: 0 0 10px #0092FF;
}

.primary-button {
  border-radius: 60px;
  border: 1px solid #0092FF;
  cursor: pointer;
  background: #0092FF;
  padding: 9px 20px;
  color: #FFFFFF;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.14px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.primary-button:hover {
  /*background: $font-color-primary;*/
  /*color: $primary-blue;*/
  border: 1px solid #014473;
  background: #014473;
  box-shadow: 0 0 12px #bdcef6;
}

.main-headline {
  color: #1A1D22;
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.57px;
  margin-bottom: 30px;
  text-shadow: 0 0 3px #bdcef6;
  text-align: center;
}

.primary-text-editor-wrapper {
  margin-bottom: 50px;
}
.primary-text-editor-wrapper .main-headline {
  margin-right: 140px;
}

.input-number-label {
  margin-right: 10px;
}

.input-number-block {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
}

.primary-button {
  margin-left: 10px;
  margin-right: 10px;
}

.code-buttons-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  color: #1A1D22;
}

/*# sourceMappingURL=style.css.map */
